@import "bohemia"

body
  background-color: lighten(#DCDCDC, 9%)

.margin-auto
  margin-left: auto!important
  margin-right: auto!important

.margin-top10
  margin-top: 10px

.margin-right
  margin-right: 10px

.margin-left
  margin-left: 10px

.top-nav
  background-color: #FFFFFF
  padding: 0px

.account-section
  padding-bottom: 0px
  align-items: center
  i
    vertical-align: middle
    font-size: 50px
    margin-right: 10px
  h3
    margin-bottom: 0px
    margin-right: 50px
  button
    margin-right: 50px

.logo
  padding-bottom: 0px!important
  img
    width: 30%
    margin-left: 10px
    margin-top: 10px

.main-container
  padding: 50px 400px
  text-align: center
  .link-to
    .column
      margin-top: 20px
      margin-bottom: 20px
      background-color: #fff
      border-radius: 5px
      margin-left: 10px
      i
        font-size: 30px
        vertical-align: middle
        margin-bottom: 12px
      div
        display: inline
        margin-left: 10px
        font-size: 24px
      div:nth-child(3)
        display: block
        margin-left: 30px
  .activity-container-header
    .column
      background-color: lighten(#F0F8FF, 1%)
      padding-bottom: 20px
      box-shadow: none
      div
        text-align: left
  .activity-container
    .column
      padding-bottom: 20px
      box-shadow: none
      text-align: left
      i
        margin-left: 3%
        font-size: 30px
        margin-top: 1%
        width: 30px
      div
        font-size: 18px
        display: inline
        margin-left: 4%
      div:nth-child(3)
        display: block
        padding-left: 8%
        padding-bottom: 10px
        font-size: 12px
        margin-top: -1%
        color: #A9A9A9
        border-bottom: 1px dotted #A9A9A9
