@import "bohemia"


.margin-auto
  margin: auto

.margin-top15
  margin-top: 15px

.margin-top20
  margin-top: 20px

.margin-top5
  margin-top: 5px

.margin-right
  margin-right: 10px

.top-nav
  background-color: lighten(#DCDCDC, 9%)
  padding: 0px

.logo img
  width: 20%
  margin-top: 15px
  margin-left: 10px
